.App {
  text-align: center;
}

.container {
  background-color: #282c34;

  color: white;
  border: 1px solid greenyellow;
}

.App-header {
  margin-top: 30px;
  padding: 20px;
}

.weather-summary {
  padding: 20px;
}

.weather-summary-two {
  padding: 20px;
}
