.App {
  margin: 30px auto;
  max-width: 900px;
}

.container {
  background-color: #4a4152;

  color: white;
  border: 1px solid greenyellow;
}

.App-header {
  margin-top: 30px;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.weather-summary {
  padding: 20px;
}

.weather-summary-two {
  padding: 20px;
}

.search-city {
  font-size: 30px;
}

.weather-degrees {
  font-size: 50px;
}

.weather-summary-two {
  line-height: 35px;
  text-align: center;
}

.search {
  text-align: center;
}

.search-city {
  border-radius: 40px;
  font-size: 20px;
  margin: 5px;
  padding: 5px;
}

.search-button {
  border-radius: 40px;
  margin: 5px;
}

footer {
  text-align: center;
}
