.Weather {
  margin: 30px auto;
  max-width: 900px;
}

.container {
  text-align: center;
  padding: 30px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 40px;
}

.App-header {
  text-align: center;
  margin-top: 30px;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.weather-summary {
  margin: 5px;
  padding: 20px;
}

.temperature {
  font-size: 50px;
  font-weight: bold;
}

.unit {
  font-size: 30px;
  font-weight: bold;
}

.weather-description {
  text-transform: capitalize;
}

.weather-summary-two {
  padding: 20px;
}

.weather-summary-three {
  text-align: center;
}

.weather-summary-five {
  padding-top: 15px;
}

.search-city {
  border-radius: 40px;
  font-size: 16px;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.search-button {
  border-radius: 40px;
  margin: 5px;
}

.future-weather {
  text-align: center;
  margin: 10px;
  margin-bottom: 40px;
  padding: 10px;
}

footer {
  text-align: center;
}
